.Game {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}

.Game-overlay {
  position: absolute;
  z-index: -1;
}

.Game-item {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 2em;
  color: white;
}

.Game-item:not(:empty) {
  background-color: #E59500;
}

.Game-overlay > .Game > .Game-item {
  background-color: beige;
}

.Game:focus {
  outline-style: none;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 399px) {
  .Game {
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(4, 20vw);
  }

  .Game-item {
    font-size: 6vw;
  }
}
