.Game {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}

.Game-overlay {
  position: absolute;
  z-index: -1;
}

.Game-overlay > .Game > .Game-item {
  background-color: beige;
}

.Game-item {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Game:focus {
  outline-style: none;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.Game-numeral {
}
